<%= render partial: 'layouts/xero_engine/head' %>
<body class="<%= body_class %>">
  <%= render "header" %>
<%- if controller.current_page == 'pages/home' %>
  <%= yield %>
<%- else %>
  <div class="container">
    <%= render "flashes" -%>
    <div class="row">
      <%= yield %>
    </div>
  </div>
<%- end %>
<%= render "footer" %>
<%= render "javascript" %>
</body>
</html>
