<div class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to site_name, xero_engine.root_path, class: 'navbar-brand' %>
    </div>
    <div class="navbar-collapse navbar-inverse-collapse collapse">
      <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <li class="dropdown">
          <%= link_to "#{current_organisation? ? truncate(current_organisation.name, length: 20) : 'Select an Organisation'} <b class=caret></b>".html_safe,
                      '#',
                      class: 'dropdown-toggle',
                      data: { toggle: 'dropdown' } %>
          <ul class="dropdown-menu" role="menu">
            <% current_user.organisation_memberships.each do |m| %>
            <li>
              <%= link_to m.organisation.name, xero_engine.organisation_membership_path(m) %>
            </li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to 'Manage', xero_engine.organisation_memberships_path %>
            </li>
          </ul>
        </li>
      <%- if current_organisation? && current_organisation.setup_completed? %>
        <% unless current_organisation_membership.expired? %>
        <!-- TODO: Put nav here -->
        <% end %>
      <%- end %>
      <% else %>
        <li><%= link_to 'Home', xero_engine.root_path %></li>
        <li><%= link_to 'About', xero_engine.page_path(id: 'about') %></li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= render "devise_links" %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
