<%= render partial: 'progress' %>

<h1>Postal Address</h1>
<p>Please confirm your <em>from</em> postal address.</p>

<%- if @addresses && @addresses.length > 1 %>
  <h2>Select your Xero Organisation address to use as your from address</h2>

  <ul>
  <%- @addresses.each do |addr| %>
    <li>
      <%= addr.line1 %>,
      <%= ("#{[addr.line2, addr.line3, addr.line4].reject{|a| a.blank?}.join(',')}" + '<br>').html_safe %>
      <%= addr.city %>,<br>
      <%= addr.region || 'N/A' %>,<br>
      <%= addr.postal_code %>,<br>
      <%= addr.country %><br>
    </li>
  <%- end %>
  </ul>
<%- end %>

<%#- if @has_suggested_address %>
<!-- <p>We checked the address you entered and found the following suggestion... is this correct?</p>

<h3>You entered...</h3>
<p> -->
  <%#= @prev_address.to_html %>
<!-- </p>
<hr>
<h3>Here's the suggested address...</h3> -->
<%#- end %>

<%= render partial: 'shared/address_form', object: current_organisation.address, locals: { form_url: wizard_path } %>